// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '~bootstrap-icons/font/bootstrap-icons';

//datepickr
@import "~flatpickr/dist/flatpickr.css";

.custom-body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: #654ea3;
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  min-height: 100vh;
  background-image: linear-gradient(147deg, #654ea3 0%, #eaafc8 100%);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  